<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pumch.web.dao.CourseScoreMapper">
  <resultMap id="BaseResultMap" type="cn.pumch.web.model.CourseScore">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="scorer_id" jdbcType="BIGINT" property="scorerId" />
    <result column="score_time" jdbcType="TIMESTAMP" property="scoreTime" />
    <result column="score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    id, course_id, scorer_id, score_time, score
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_score
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from course_score
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pumch.web.model.CourseScore">
    insert into course_score (id, course_id, scorer_id, 
      score_time, score)
    values (#{id,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT}, #{scorerId,jdbcType=BIGINT}, 
      #{scoreTime,jdbcType=TIMESTAMP}, #{score,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.pumch.web.model.CourseScore">
    insert into course_score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="scorerId != null">
        scorer_id,
      </if>
      <if test="scoreTime != null">
        score_time,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="scorerId != null">
        #{scorerId,jdbcType=BIGINT},
      </if>
      <if test="scoreTime != null">
        #{scoreTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pumch.web.model.CourseScore">
    update course_score
    <set>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="scorerId != null">
        scorer_id = #{scorerId,jdbcType=BIGINT},
      </if>
      <if test="scoreTime != null">
        score_time = #{scoreTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pumch.web.model.CourseScore">
    update course_score
    set course_id = #{courseId,jdbcType=BIGINT},
      scorer_id = #{scorerId,jdbcType=BIGINT},
      score_time = #{scoreTime,jdbcType=TIMESTAMP},
      score = #{score,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>