<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pumch.web.dao.PsUserMapper">
    <resultMap id="BaseResultMap" type="cn.pumch.web.model.PsUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="password" jdbcType="CHAR" property="password"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="id_no" jdbcType="VARCHAR" property="idNo"/>
        <result column="u_state" jdbcType="VARCHAR" property="uState"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, login_name, password, nick_name, sex, id_no, u_state, create_time, login_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ps_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from ps_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="cn.pumch.web.model.PsUser">
        insert into ps_user (id, login_name, password,
          nick_name, sex, id_no, u_state,
          create_time, login_time)
        values (#{id,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=CHAR},
          #{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{idNo,jdbcType=VARCHAR}, #{uState,jdbcType=VARCHAR},
          #{createTime,jdbcType=TIMESTAMP}, #{loginTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="cn.pumch.web.model.PsUser">
        insert into ps_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="loginName != null">
                login_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="idNo != null">
                id_no,
            </if>
            <if test="uState != null">
                u_state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=CHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="idNo != null">
                #{idNo,jdbcType=VARCHAR},
            </if>
            <if test="uState != null">
                #{uState,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.pumch.web.model.PsUser">
        update ps_user
        <set>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=CHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="idNo != null">
                id_no = #{idNo,jdbcType=VARCHAR},
            </if>
            <if test="uState != null">
                u_state = #{uState,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.pumch.web.model.PsUser">
        update ps_user
        set login_name = #{loginName,jdbcType=VARCHAR},
            password = #{password,jdbcType=CHAR},
            nick_name = #{nickName,jdbcType=VARCHAR},
            sex = #{sex,jdbcType=CHAR},
            id_no = #{idNo,jdbcType=VARCHAR},
            u_state = #{uState,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            login_time = #{loginTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 手动添加 -->
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ps_user
        where login_name = #{loginName, jdbcType=VARCHAR}
    </select>

    <select id="selectByConditionsInPage" resultMap="BaseResultMap">
        select
        ps_user.id, ps_user.login_name, ps_user.nick_name, ps_user.sex, ps_user.id_no, ps_user.u_state, ps_user.create_time, ps_user.login_time
        from ps_user, user_role, role
        where ps_user.id=user_role.user_id
        and user_role.role_id=role.id
        <if test="roleName != null">
            AND role.role_name = #{roleName,jdbcType=VARCHAR}
        </if>
        <if test="nickName != null">
            AND ps_user.nick_name LIKE #{nickName,jdbcType=VARCHAR}
        </if>
        <if test="sex != null">
            AND ps_user.sex = #{sex,jdbcType=CHAR}
        </if>
        <if test="idNo != null">
            AND ps_user.id_no LIKE #{idNo,jdbcType=VARCHAR}
        </if>
        <if test="uState !=null">
            AND ps_user.u_state = #{uState,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null">
            AND ps_user.login_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND ps_user.login_time &lt;= #{endTime}
        </if>
        order by ps_user.create_time desc
        limit #{start,jdbcType=TINYINT}, #{count,jdbcType=TINYINT}
    </select>

    <select id="selectCountByConditions" resultType="java.lang.Integer">
        select count(ps_user.id)
        from ps_user, user_role, role
        where ps_user.id=user_role.user_id
        and user_role.role_id=role.id
        <if test="roleName != null">
            AND role.role_name = #{roleName,jdbcType=VARCHAR}
        </if>
        <if test="nickName != null">
            AND ps_user.nick_name LIKE #{nickName,jdbcType=VARCHAR}
        </if>
        <if test="sex != null">
            AND ps_user.sex = #{sex,jdbcType=CHAR}
        </if>
        <if test="idNo != null">
            AND ps_user.id_no LIKE #{idNo,jdbcType=VARCHAR}
        </if>
        <if test="uState !=null">
            AND ps_user.u_state = #{uState,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null">
            AND ps_user.login_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND ps_user.login_time &lt;= #{endTime}
        </if>
    </select>
</mapper>