.contaner-l{
    margin-top: 25%;
}
h5{
    font-size:1em;
    font-weight: normal;
}
li{
    list-style-type: none;
}
p{
    font-size:0.8em;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
.bj{
    background-color: #f3f3f3;
}
.head{
    height: 10%;
    width:100%;
    background-color: #428bca;
    position: fixed;
}
.container-fluid{
    padding: 0;
    position: absolute;
    left: 0;
    right:0;
    top:10%;
    z-index:-1;
}
.logo{
    color:#ffffff;
    font-size:2em;
    padding: 0.6em 0;
}
.con-list {
    background-color: #ffffff;

}
.con-list ul {
    margin-left: -3em !important;
}
.con-list ul li{
    margin: 1em;
    border-bottom: 1px #dddddd dashed;
}
.search{
    padding: 0 1em;
    margin: 0.5em 0;

}
.form-control{
    border-radius: 0em;
    width: 84%;
    float: left;
}
.form-control-feedback{
    color: #ddd;
}
.yellow{
    color:#fcac00;
}
.text-list{
    padding-right: 0.2em;
    width: 80%;
}
.text-nav{
    width:20%;
    padding-right: 0.2em;
}
.head-nav{
    position: absolute;
    top:2em;
    right:1.2em;
}
.head-nav a{
    color:#ffffff!important;
    text-decoration: none;
}
.con{
    margin-top: 10%;
    background-color: #ffffff;
}

.in-5{
    line-height: 1em;
}
.btn-tj{
    background-color: #428bca;
}
.tj{

    margin: 3em 1em ;
    border-top: 1px solid #ddd;
    padding-top: 2em;

}
.btn-search{
    background-color: #428bca;

    color: #ffffff;
    border-radius: 0em;
    width:16%;
}
.btn-search:visited{
    background-color: #428bca;
    padding: 0.4em 1em;
    color: #ffffff;
    width:16%;
}
.btn-search:hover{
    background-color: #428bca;
    padding: 0.4em 1em;
    color: #ffffff;
    width:16%;
}
.btn-search:active{
    background-color: #428bca;
    width:16%;
    padding: 0.4em 1em;
    color: #ffffff;
}
.more{
    padding: 2em 0;
}
.more a{
    border:1px solid #e8e8e8;
    padding: 0.5em 1em;
    border-radius: 1em;
    color:#999999;
}
.name{
    margin: 2em 0 1em  0;
}
.subject{
    margin: 1em 0 3em 0;
}
.form-input{
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}
.btn-block {
    display: inline-block;
    width: 30%;
}
